/* *,*::before, *::after{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
} */
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
div{
    display: block;
}
body{
    font-size: 14px;
    color: #484848;
    background-color: #fff;
    margin: 0px;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
}

/* Navbar */
.navbar{
    width: 100%;
    height: 81px !important;
    border-bottom: 1px solid rgba(0,0,0,0.1);
   
}

.logo-location{
    font-size: 34px;
    color: #FF5A5F;
}
.logo{
    background-color: initial;
    border: none;
    cursor: pointer;
    padding: 0px 24px;   
}
.logo:focus{
    outline: none;
}
#searchForm{

    font-weight: 700;
    font-size: 17px;
    opacity: 0.9;
}
.icon-search{
    opacity: 0.7;
    margin: 0 8px;
}
.search-box {
    width: 100%;
    align-items: center;
}
.search-box div{
    width: 50px;
}
.search-box div span{
    vertical-align: middle;
}
.search-location{
    width: 60%;
    box-sizing: border-box;
}
.search-button{
    cursor: pointer;
    height: 48px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: -2px 4px 9px 0px rgba(0,0,0,0.1);
}

.search-align{
    height: 48px;
    border: none;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 2px 4px 9px 0px rgba(0,0,0,0.1);
    color: #484848 !important;
}

.search-align:focus, .search-button:focus{
    outline: none;
}

.search-location:hover{
    width: 85%;
    transition: 400ms ease-in;
}
.button-align button{
    border: none;
    cursor: pointer;
    background-color: initial;
}
.button-align button:focus{
    outline: none;
}
.button-align button:hover{
    box-shadow: inset 0 -2px rgba(0,0,0,0.5);
}
.button-align button span{
    padding: 8px;
    font-weight: 600;
    text-shadow: none;
    text-align: center;
    word-spacing: normal;
    opacity: 0.8;
}
.button-align button span{
    font-size: 14px;
    display: inline-block;
}
button{
    padding: 0px 8px;
}

/* Filter */
.filter{
    width: 100% !important;
    height: 48px !important;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.filterLeft{
    width: 80%;
    height: auto;
}
.filterRight{
    width: 20%;
    height: auto;
}
.filterRight img {
    float: right;
}
.filterLeft-align div{
    padding-right: 8px;
}
.filterLeft-align div button{
    cursor: pointer;
    background-color: inherit;
    padding:8px 16px;
    border-radius: 30px;
    border: 1px solid rgb(176, 176, 176);
}
.filterLeft-align div button span{
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    color: #484848;
}
.filterLeft-align div button span{
    color: rgb(34, 34, 34) !important;
}
.filterRight-align span{
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    line-height: 1.43;
    color: #484848;
}
.filterRight-align img{
    cursor: pointer;
}

/* Action filter*/
.filterLeft-align div button:focus{
    outline: none;
}
.filterLeft-align div button:hover{
    border: 1px solid rgba(0,0,0);
}

/* Main */
.main{
    width: 100% !important;
    height: 100%;
    box-sizing: content-box;

}
.mainLeft{
    width: 60%;
    height: auto;
}
.mainRight{
    width: 40%;
    height: auto;
}
.mainLeft-align{
    margin-top: 42px;

}
.statistical-align{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.mainLeft-align span{
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    color: #222222;
}

/* Map */
.mainRight-align iframe{
    width: 100%;
    height: calc(100vh - 127px);
}

/* Card */
.card{
    padding: 24px 0;
    width: 100%;
    height: auto ;
    box-sizing: content-box;
    border-top: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    /* Edit when adding more cards */
    /* border-bottom: 1px solid rgba(0,0,0,0.1); */
}

/* Img align */
.content-4{
    width: 40%;
    height: auto;
    box-sizing: inherit;
}
.content-4 button{
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.img-align{
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

/* Content align */
.content-6{
    width: 60%;
    height: auto;
    box-sizing: inherit;
    margin-left: 16px;
}
.textp{
    color: #717171 !important;
    line-height: 20px !important;
    font-size: 14px;
}
.star{
    color: #FF385C;
}
#text-edit{
    color: #222222 !important;
    font-size: 14px;
    font-weight: 400;
}
#title-edit{
    font-size: 18px;
    line-height: 24px;
    color: #222222;
    font-weight: 400;
}
.pp, #pp{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #222222;
}
#pp{
    font-weight: 700;
}

/* Test */
/* .mainRight-align iframe {
    width: 100%;
    height: calc(100vh - 81px);
} */
/* .navbar{
    position: fixed;
    top: 0;
    background: white;
    z-index: 10;
}    */
/* .mainRight-align{
    position: sticky;
    top: 82px;
} */

/* Scroll */
.navbar{
    position: sticky !important;
    top: 0;
    z-index: 10;
    background-color: #fff;
}
.filter{
    position: sticky !important;
    top: 81px;
    z-index: 10;
    background-color: #fff;
}
.mainRight-align{
    position: sticky !important;
    top: 129px;
}

/* Grow hover*/
.hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



























/* .button-carousel .pre{
   margin-top: 6%;
  
}
.button-carousel .nex{
    margin-top: 6%;
    margin-left: 19%;
    
} */
/* 
.hidden-box{
    position: absolute;
    -webkit-box-orient: vertical;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 200px;
    box-sizing: border-box;
    visibility: hidden;
    z-index: 20;
}
.button-carousel{
    width: 100%;
    height: 100px;
    -webkit-box-align: center;
}
.hidden-box:hover{
    visibility: visible;
} */