/* *,*::before, *::after{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
} */
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
div{
    display: block;
}

body{
    font-size: 14px;
    color: #484848;
    background-color: #fff;
    margin: 0px;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
}

.flex{
    display: flex;

}
.lifeTime-container{
    padding: 0   24px;
    height: 100%;
}

.align-item-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    display: flex;
    justify-content: flex-end;
}

.flex-container-col{
    flex-direction: column;
}
.flex-container-row{
    flex-direction: row;
}

.pr-4{
    padding-right: 4px;
}

/* Navbar */
.navbar{
    width: 100%;
    height: 81px !important;
    border-bottom: 1px solid rgba(0,0,0,0.1);
   
}

.logo-location{
    font-size: 34px;
    color: #FF5A5F;
}
.logo{
    background-color: initial;
    border: none;
    cursor: pointer;
    padding: 0px 24px;   
}
.logo:focus{
    outline: none;
}
#searchForm{

    font-weight: 700;
    font-size: 17px;
    opacity: 0.9;
}
.icon-search{
    opacity: 0.7;
    margin: 0 8px;
}
.search-box {
    width: 100%;
    align-items: center;
}
.search-box div{
    width: 50px;
}
.search-box div span{
    vertical-align: middle;
}
.search-location{
    width: 60%;
    box-sizing: border-box;
}
.search-button{
    cursor: pointer;
    height: 48px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: -2px 4px 9px 0px rgba(0,0,0,0.1);
}

.search-align{
    height: 48px;
    border: none;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 2px 4px 9px 0px rgba(0,0,0,0.1);
}

.search-align:focus, .search-button:focus{
    outline: none;
}

.search-location:hover{
    width: 85%;
    transition: 400ms ease-in;
}
.button-align button{
    border: none;
    cursor: pointer;
    background-color: initial;
}
.button-align button:focus{
    outline: none;
}
.button-align button:hover{
    box-shadow: inset 0 -2px rgba(0,0,0,0.5);
}
.button-align button span{
    padding: 8px;
    font-weight: 600;
    text-shadow: none;
    text-align: center;
    word-spacing: normal;
    opacity: 0.8;
}
.button-align button span{
    font-size: 14px;
    display: inline-block;
}
button{
    padding: 0px 8px;
}

/* Filter */
.filter{
    width: 100% !important;
    height: 48px !important;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.filterLeft{
    width: 80%;
    height: auto;
}
.filterRight{
    width: 20%;
    height: auto;
}
.filterRight img {
    float: right;
}
.filterLeft-align div{
    padding-right: 8px;
}
.filterLeft-align div button{
    cursor: pointer;
    background-color: inherit;
    padding:8px 16px;
    border-radius: 30px;
    border: 1px solid rgb(176, 176, 176);
}
.filterLeft-align div button span{
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    color: #484848;
}
.filterLeft-align div button span{
    color: rgb(34, 34, 34) !important;
}
.filterRight-align span{
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    line-height: 1.43;
    color: #484848;
}

/* Action filter*/
.filterLeft-align div button:focus{
    outline: none;
}
.filterLeft-align div button:hover{
    border: 1px solid rgba(0,0,0);
}

/* Main */
.content-align{
    box-sizing: content-box;
    width: 100%;
    max-height: 200px;
    height: 200px;
}
.img-align{
    max-width: 300px;
    width: 100%;
    height: auto;
}
.img-align img{
    height: auto;
    width: 300px;
}
.main{
    width: 100% !important;
    height: auto;
    box-sizing: content-box;
}
.mainLeft{
    width: 60%;
    height: auto;
}
.mainRight{
    width: 40%;
    height: auto;
}
.mainLeft-align{
    margin-top: 0px;
}
.mainLeft-align span{
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    color: #222222;
}