*,*::before, *::after{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
div{
    width: 100%;
    height: 80px;
    display: block;
}
body{
    font-size: 14px;
    color: #484848;
    background-color: #fff;
    margin: 0px;
    
    white-space: nowrap;
    overflow-x: auto;
}
.flex{
    display: flex;
}
.navbar{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.logo-location{
    font-size: 34px;
    color: #FF5A5F;
}
.logo{
    background-color: initial;
    border: none;
    cursor: pointer;
    padding: 0px 24px;   
}
.logo:focus{
    outline: none;
}
#searchForm{

    font-weight: 700;
    font-size: 17px;
    opacity: 0.9;
}
.icon-search{
    opacity: 0.7;
    margin: 0 8px;
}
.search-box {
    width: 100%;
    align-items: center;
}
.search-box div{
    width: 50px;
}
.search-box div span{
    vertical-align: middle;
}
.search-location{
    width: 70%;
    box-sizing: border-box;
}
.search-button{
    cursor: pointer;
    height: 48px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: -2px 4px 9px 0px rgba(0,0,0,0.1);
}

.search-align{
    height: 48px;
    border: none;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 2px 4px 9px 0px rgba(0,0,0,0.1);
}

.search-align:focus, .search-button:focus{
    outline: none;
}

.search-location:hover{
    width: 85%;
    transition: 400ms ease-in;
}
.button-align button{
    border: none;
    cursor: pointer;
    background-color: initial;
}
.button-align button:focus{
    outline: none;
}
.button-align button:hover{
    box-shadow: inset 0 -2px rgba(0,0,0,0.5);
}
.button-align button span{
    padding: 8px;
    font-weight: 600;
    text-shadow: none;
    text-align: center;
    word-spacing: normal;
    opacity: 0.8;
}
.button-align button span{
    font-size: 14px;
    display: inline-block;
}
button{
    padding: 0px 8px;
}